@charset "utf-8";
html,body {

	-webkit-user-select: text !important;
    user-select: text !important;
}
.icons {
	display: inline-block;
	width: 22px;
	height: 22px;
}
.cust-icon {
	display: inline-block;
	width: 22px;
	height: 22px;
	background: url(../images/icon/menu-icon.png) no-repeat 0 0;
	background-size: 100%;
	background-size: 100%;
    vertical-align: middle;
    margin-top: -5px;
    margin-right: 5px;
}
/*.order-icon {
	display: inline-block;
	width: 22px;
	height: 22px;
	background: url(../images/icon/menu-icon.png) no-repeat 0 0;
	background-size: 100%;
	background-size: 100%;
    vertical-align: middle;
    margin-top: -5px;
    margin-right: 5px;
}
.loan-icon {
	display: inline-block;
	width: 22px;
	height: 22px;
	background: url(../images/icon/menu-icon.png) no-repeat 0 0;
	background-size: 100%;
	background-size: 100%;
    vertical-align: middle;
    margin-top: 0px;
    margin-right: 5px;
}
.more-icon {
	display: inline-block;
	width: 22px;
	height: 22px;
	background: url(../images/icon/menu-icon.png) no-repeat 0 0;
	background-size: 100%;
	background-size: 100%;
    vertical-align: middle;
    margin-top: -3px;
    margin-right: 5px;
}
.systerm-icon {
	display: inline-block;
	width: 22px;
	height: 22px;
	background: url(../images/icon/menu-icon.png) no-repeat 0 0;
	background-size: 100%;
	background-size: 100%;
    vertical-align: middle;
    margin-top: -3px;
    margin-right: 5px;
}
.customerService{
  display: inline-block;
  width: 22px;
  height: 22px;
  background: url(../images/icon/menu-icon.png) no-repeat 0 0;
  background-size: 100%;
  background-size: 100%;
  vertical-align: middle;
  margin-top: -3px;
  margin-right: 5px;
}*/
.borBot1px {
	    border-bottom: 1px solid #cccc;
}
.pad20 {
	padding: 20px;
}
.alignCen {
	text-align: center;
}
.titsheet{
	background: #f7f7f7;
	padding-left:10px;
	height: 40px;
	line-height: 40px;
	font-size: 14px;
}
.ft {
	float: left;
}
.rt {
	float: right;
}
.el-button--primary {
    color: #fff;
    background-color: #31AFFF;
    border-color: #31AFFF;
}

.searchbox{
	padding: 20px 0 0;
	border-bottom: #ccc solid 1px;
}
.mrtop20{
	margin-top: 20px;
}
.highLight{
	color: #31AFFF
}
.highLight_cursor{
	cursor: pointer;
	color: #31AFFF
}
.edit .ke-container {

    width: 100% !important;
}
.table-wraps .el-table td, .el-table th {
	padding: 6px 0;
}
.text-rt {
	text-align: right;
}
.btn-color {
	color: #02abff;
}
.padTop20 {
	padding-top: 30px;
}
.padTop20 .el-row {
	/*margin-top: -30px;*/
	line-height: 2;
}
.overDate .el-input{
	width: 165px;
}
.resetTable .el-table th {
	    padding: 0;
}
.resetTable .el-table td{
	padding: 0 0;
}
.resetTable  .el-table .cell {
    line-height: 38px;
    height: 38px;
}
.resetTable_s .el-table td{
	padding: 0px 0;
}
.resetTable_s .el-table th {
	    padding: 7px 0 8px;
}
.table-wrap {
	padding-top: 20px;
}
.control-wrap .reasons .el-form-item {
    width: 49%;
	float: left;
}
.control-wrap .reasons .el-form-item:last-child {
	margin-left: 1%;

}
.followColor {
	color: #02abff;
}
.el-table td {
	font-size: 12px;
}
.allCustList .el-form-item {
	    margin-bottom: 20px;
}
.custumer-wrap {
	    margin-top: -10px;
	    padding-bottom: 2px;
}
.custumer-wrap .el-form-item {
	    margin-bottom: 0px;
}
.marBot15 {
	    margin-bottom: 15px !important;
}
.fs12 {
	font-size: 12px;
}
.g20 .order-search .seniorSearch {
	top: 60px !important;
	border-top: 1px solid #ccc !important;
}
.el-loading-mask {
	z-index: 1992;
}
.wid50 {
	width: 50%;
}
.blueColor {
	color: blue;
}
.btncursor{
	cursor: pointer
}
.cube-pullup-wrapper .before-trigger {
	    font-size: 9px;
    color: #5f5d5d;
}